$color-white: #fff;
$color-grey: #999999;
$color-grey-2: #e3e3e3;
$color-grey-3: #636363;
$color-black: #000;
$color-red: #FE8A71;
$color-yellow: #FFF700;
$color-blue:  #5D8AA8;

#chessboard {
  font: normal normal 16px Arial, Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;

  .chessboard-header,
  .chessboard-footer,
  .chessboard-storage,
  .chessboard-promote,
  .chessboard-container {
    display: flex;
    flex-direction: row;
    color: $color-black;
  }

  .chessboard-storage,
  .chessboard-promote,
  .chessboard-container {
    .chessboard-fields {
      font-size: 24px;
    }
  }

  .chessboard-promote,
  .chessboard-container {
    .chessboard-fields {
      cursor: pointer;
    }
  }

  .chessboard-aside {
    display: flex;
    flex-direction: column;
    color: #636363;
  }

  .chessboard-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 288px;
  }

  .chessboard-aside div,
  .chessboard-fields div {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
  }

  .chessboard-fields {
    div {
      &.color-black {
        background: $color-grey;
        border: 1px solid $color-grey;

        &.state-selected,
        &.state-possible-move {
          // box-shadow: 0 0 15px 3px inset $color-grey-3;
          background: $color-grey-3;
          border: 1px solid $color-grey-3;
        }
      }

      &.color-white {
        background: $color-white;
        border: 1px solid $color-white;

        &.state-selected,
        &.state-possible-move {
          // box-shadow: 0 0 10px 2px inset $color-grey-2;
          background: $color-grey-2;
          border: 1px solid $color-grey-2;
        }
      }
    }
  }

  .chessboard-promote {
    min-height: 36px;

    .chessboard-fields {
      &.visible {
        div {
          display: flex;
        }
      }

      div {
        display: none;
      }
    }
  }

}
